p{
    font-family: Ubuntu;
    font-size: 20pt;
    font-style: normal;
    color: black;

}
h1{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color: black;

}

h1.add{
    color: white;
}


.bodyregis {
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    color:white;
}

.regisform{
    color:white;
    margin:150px;
}

.backgroundhome {
    background-image: url("backgroundhome.jpg");
    background-repeat: no-repeat ;
    background-position :center; 
    background-size: cover;
    height: 1024px;
    position: relative;
}
.tulisannama{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color:white;
}

.backgroundhometext {
    font-family:Ubuntu;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    object-fit: unset;
}

.fotoprofile{
    position: relative;
    width: 20%;
    height: 37,5%;
    border-radius: 25%;
    margin-left: 200px;
    margin-top: 150px;
}



.fotoprofiletext{
    position: relative;
    text-align: left;
    background-color: #7104FD;
    width:35%;
    height:70%;
    margin:50px 430px;
    border-radius: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.schedule{
    position: absolute;
    margin: 150px auto;
    color: white;
    
    
}

.bodyform{
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    
    
}

.scheduleform{
    position: absolute;
    margin: 150px auto;

}

.judul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    margin-top: 50px;
    text-align: center;
}

.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}



.experiencetext{
    position: relative;
    font-family:Ubuntu;
    font-style: normal;
    text-align: left;
    top: 50%;
    left:10%;
    font-size: 28px;
}

.fotocgt{
    padding-bottom;50%;
    padding-left:60%;
    width:71.5%;

}

.fotocompfest{
    padding-bottom;50%;
    padding-left:60%;
    width:71.5%;

}

.fotoohfasilkom{
    padding-bottom;50%;
    padding-left:60%;
    width:71.5%;
}
.contacttext{
    position: absolute;
    font-family:Ubuntu;
    font-style: normal;
    text-align: left;
    top: 50%;
    left: 25%;
    font-size: 28px;
}

.fotophone{
    padding-bottom;50%;
    padding-left:60%;


}
.fotoemail{
    padding-bottom;50%;
    padding-left:60%;
    
}

.fotoig{
    padding-bottom;50%;
    padding-left:60%;
    
}

