{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    
    <body>
               
            <div class="fotoprofilee"></div>
                <img class="fotoprofile" src="https://image.ibb.co/fhQgRp/fotoprofile.jpg" style="object-fit:cover;margin-left: auto;margin-right: auto;display: block;"> 
                    
                    <div class="fotoprofiletext">
                        <h1 color="black">HI!</h1>
                        <p>My full name is Aditya Nanda Tri Prakoso,but people called me Tepe.</p>
                        <p>I’m 18 years old.</p>
                        <p>I’m an Undergraduate Student of Computer Science Faculty of Universitas Indonesia.</p>
                        <p>Currently Selling Co.Co Coffee as Entrepreneur.</p>
                    </div>
            </div>
       


    </body>

</html>
