{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Update Status disokin</title>
  </head>

  <body class = "bodytitidi">
    <div class="blue-bg blue-border rounded-edge">
      <h1>Hello,apa kabar semua kembali lagi dichannel terkece,terkeren,aahsiaaap</h1>
        <form id = "formstatus" action="" method="POST" class="">
          {% csrf_token %}
          {{ form.as_p }}
          <input name ="post" type="submit" class="btn btn-primary float-right rounded-edge" value="Post">
        </form>
      </div>
      <br>
      <br>
      <div class="red-bg red-border rounded-edge">
        {% for status in status %}
        <div class="col-sm-12 text-center">
          <p>{{ status.isi_status }}</p>
        </div>
        {% endfor %}
      </div>
  </body>

</html>
