/* p{
    font-family: Ubuntu;
    font-size: 20pt;
    font-style: normal;
    color: black;

}
h1{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color: black;

} */

/* h1.add{
    color: white;
} */

/* .bodytitidi {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
} */

.blue-bg {
    background-color: #4286f4;
}

.blue-border {
    border: 1px solid #4286f4;
}

.red-bg{
    background-color:peachpuff
}

.red-border{
    border: 1px solid #631731;
}

.rounded-edge {
    border-radius: 1em 1em 1em 1em;
}
.text-center{
    text-align: center;
}

th {
    font-family:Ubuntu;
    font-size:25px;
}
h2 {
    color: white;
}
table {
    font-family:Ubuntu;
    border-collapse: collapse;
    width: 100%;
}

.contain {
    margin:2% 5%;
}
#star {
    color:white;
    cursor : pointer;
}
.count {

}
#tablefont {
    font-size: 20px;
}
.button{
    background-color: #240844;
    border: 1px solid #240844;

}



body{
    margin: auto;
    padding: 150px 0; 
    display: flex;
    background-color: #240844;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    font-family:Ubuntu;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100%;
    font-family: Ubuntu;
    
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
}
.logen{
    color : white;
}

/* .accordion {
    background-color: #240844;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    
    
}

.active, .accordion:hover {
    background-color: #828ded;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

*/
.container{
    display: flex;
    
}

label {
    display: inline-block;
    width:100px;
    text-align: right;
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
    width: 50%;
}


div {
    display: block;
}


.profile-pict{
    padding: 70px 0;
    width: 50%;
    cursor: none;
    
} 

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader-img {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    z-index: 1001;  
    background-image: url('https://image.ibb.co/jPX0QA/Dpprm-Qq-Xc-AARDz-A.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    z-index: 1020;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
  border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:#060b38;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #240844;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #631731;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;  
    background: #222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.loader-section.section-left {
    left: 0
}

.loader-section.section-right {
    right: 0
}

.panel_left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s .5s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.panel_right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .7s .3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all .3s .5s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}

.loaded-circle {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded-img {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s .5s ease-out;
    transition: all .3s .5s ease-out
}
/* .bodyregis {
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    color:white;
}

.regisform{
    color:white;
    margin:150px;
}

.backgroundhome {
    background-image: url(https://image.ibb.co/jM3kmp/backgroundhome.jpg);
    background-repeat: no-repeat ;
    background-position :center; 
    background-size: cover;
    height: 1024px;
    position: relative;
}
.tulisannama{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color:white;
}

.backgroundhometext {
    font-family:Ubuntu;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    object-fit: unset;
}

.fotoprofile{
    position: relative;
    width: 20%;
    height: 37,5%;
    border-radius: 25%;
    margin-left: 200px;
    margin-top: 150px;
}



.fotoprofiletext{
    position: relative;
    text-align: left;
    background-color: #7104FD;
    width:35%;
    height:70%;
    margin:50px 430px;
    border-radius: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.schedule{
    position: absolute;
    margin: 150px auto;
    color: white;
    
    
}

.bodyform{
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    
    
}

.scheduleform{
    position: absolute;
    margin: 150px auto;

}

.judul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    margin-top: 50px;
    text-align: center;
}

.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}



.experiencetext{
    position: relative;
    font-family:Ubuntu;
    font-style: normal;
    text-align: left;
    top: 50%;
    left:10%;
    font-size: 28px;
}
 */

@media (min-width: 1200px){
    .container {
        max-width: 1600px;
    }
    }
    