p{
    font-family: Ubuntu;
    font-size: 20pt;
    font-style: normal;
    color: black;

}
h1{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color: black;

}

h1.add{
    color: white;
}

.bodytitidi {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.blue-bg {
    background-color: #4286f4;
}

.blue-border {
    border: 1px solid #4286f4;
}

.red-bg{
    background-color:peachpuff
}

.red-border{
    border: 1px solid peachpuff;
}

.rounded-edge {
    border-radius: 1em 1em 1em 1em;
}
.text-center{
    text-align: center;
}

body{
    margin: auto;
    padding: 150px 0; 
    display: flex;
    /* display: inline-block; */
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100%;
    background-color: #631731;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}



.accordion {
    background-color: #49f4e0;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #828ded; 
}

.panel {
    padding: 0 18px;
    background-color:#5e140a;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.container{
    display: flex;
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
    width: 50%;
}


div {
    display: block;
}

.profile-pict{
    padding: 70px 0;
    width: 65%;
}


.bodyregis {
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    color:white;
}

.regisform{
    color:white;
    margin:150px;
}

.backgroundhome {
    background-image: url(https://image.ibb.co/jM3kmp/backgroundhome.jpg);
    background-repeat: no-repeat ;
    background-position :center; 
    background-size: cover;
    height: 1024px;
    position: relative;
}
.tulisannama{
    font-family: Ubuntu;
    font-size: 36pt;
    font-style: normal;
    color:white;
}

.backgroundhometext {
    font-family:Ubuntu;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    object-fit: unset;
}

.fotoprofile{
    position: relative;
    width: 20%;
    height: 37,5%;
    border-radius: 25%;
    margin-left: 200px;
    margin-top: 150px;
}



.fotoprofiletext{
    position: relative;
    text-align: left;
    background-color: #7104FD;
    width:35%;
    height:70%;
    margin:50px 430px;
    border-radius: 7.5%;
    margin-left: auto;
    margin-right: auto;
}

.schedule{
    position: absolute;
    margin: 150px auto;
    color: white;
    
    
}

.bodyform{
    background-image: url(https://wallpapercave.com/wp/wp2216086.jpg);
    background-size: cover;
    height: 1200px;
    
    
}

.scheduleform{
    position: absolute;
    margin: 150px auto;

}

.judul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    margin-top: 50px;
    text-align: center;
}

.table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
}



.experiencetext{
    position: relative;
    font-family:Ubuntu;
    font-style: normal;
    text-align: left;
    top: 50%;
    left:10%;
    font-size: 28px;
}


@media (min-width: 1200px){
    .container {
        max-width: 1600px;
    }
    }
    