{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class="judul">
    <h1><br>My Schedule<br></h1>
</div>
        <div class = "table">
            <table style = "width:75%">
                    {% if jadwal_object %}
                <tr>
                    <th>Name</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Venue</th>
                    <th>Category</th>

                </tr>
           

                {% for jadwal_data in jadwal_object %}
                <tr>
                    <td class ="name">{{ jadwal_data.nama_acara}}</td>
                    <td class ="day">{{ jadwal_data.hari_acara}}</td>
                    <td class ="date">{{ jadwal_data.tanggal_acara}}</td>
                    <td class ="time">{{ jadwal_data.waktu_acara}}</td>
                    <td class ="venue">{{jadwal_data.tempat_acara}}</td>
                    <td class ="category">{{ jadwal_data.kategori_acara}}</td>
                </tr>
                {% endfor %}

                {% else %}
                <p>There's no activity</p>
                {% endif %}
            </table>
            </div>
            <div class = "row">
            <div class = "col-6">
                <form id = "scheduleform" action="{% url 'DeleteView' %}">
                    <button type="submit" class="btn btn-default">Delete All</button>
                </form>
            </div>
        </div>


{% endblock %}
