{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!--
<!DOCTYPE html>
<html>
    <head>
        <title> Tepe's Bio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>

    <body >
            <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand active" href="/">Tepe si ganteng</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/form">Registration</a></li>
                        
                      </ul>
                    </div>
                  </nav>
                -->
        
        <div class="backgroundhome">
                <div class="backgroundhometext">
                  <h1 class ="tulisannama" style="font-size:100px" >Aditya Nanda </h1>
                  <h3>Greetings!</h3>
                  <h3>Welcome to my web profile enjoy the view!</h3>
                </div>
        </div>
      
{% endblock %}
                    
    

<!--
      </body>
</html>
    -->