{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class ="bodyform">
<div class = "schedule">
    <h1 class ="add"><br>Add Schedule Here!<br></h1>
    <form id = "scheduleform" method = "POST" action="{% url 'PostForm' %}">
        {% csrf_token %}
        {{jadwalform.as_p}}

        <br>
        <button type="submit" class="btn btn-default">Submit</button>


    </form>

</div>
</body>
{% endblock %}