{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!--
<!DOCTYPE html>
<html>
    <head>
        <title> Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>

    <body class="bodyregis">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                      <div class="navbar-header">
                            <a class="navbar-brand" href="/">Tepe si ganteng</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li ><a href="/profile">Profile</a></li>
                        <li class="active"><a href="#">Registration</a></li>
                      </ul>
                    </div>
                </nav>
            -->
            <body class="bodyregis">
                <form class="regisform">
                        <div class="form-group" >
                            <label for="exampleInputName1">Name</label>
                            <input type="Name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Name Here">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="example-date-input" class="col-2 col-form-label">Date</label> 
                            <input type="date" class="form-control" id="exampleInputDate1">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Confirmation Password</label>
                            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirmation Password">
                        </div>
                        <button type="submit" onclick="alert('Your data has been saved!')" class="btn btn-default " >Submit</button>
                </form>
                </body>

                {% endblock %}
        <!--     
    </body>

    </html>
-->